.topBar{
    position: absolute;
    width: 50%;
    height:10px;
    overflow:hidden;
    top: 30px;
    left: 10%;
}
.bottomBar{
    position:absolute;
    bottom:0;
    width:50%;
    overflow:hidden;
    height:10px;
    right:10%;
    bottom:30px;
}

#screen{
    width:300px;
    height:277px;
    position:relative;
    top:120px;
    left: -2px;
    margin: 0 auto;
}
#gameboy{
    background:url('/gameboy.svg') no-repeat;
    margin:0 auto;
    width:590px;
    height:960px;
}
@font-face{
    font-family:gameboy;
    src: url('/styles/gameboy.ttf');
}
body, html{
    font-family:gameboy !important;
    margin:0;
    padding:0;
}
