.heart{
    height:12px;
    margin-left:4px;
    margin-top:3px;
}
.info{
    font-size:12px;
    position: absolute;
    padding:4px;
    width:50%;
    height: 50px;
    border: 3px solid #333;
    border-radius: 10px 5px;
}
.topInfo{
    top:5%;
    left: 5%;
}
.bottomInfo{
    width: 50%;
    right:5%;
    bottom:45px;
}
.backbar{
    position:relative;
    margin:0 auto;
    background-color:#333;
  border-radius: 10px;
}

.bar{
    position:absolute;
    right:2px;
    display:inline-block;
    margin-left:1px;
    width:80%;
    height:12px;
    margin-top:2px;
  border-radius: 10px;
    overflow:hidden;
}

.topBar {
}
.bottomBar {
}

#screen{
    width:300px;
    height:277px;
    position:relative;
    top:120px;
    left: -2px;
    margin: 0 auto;
}
#gameboy{
    background:url('/gameboy.svg') no-repeat;
    margin:0 auto;
    width:590px;
    height:960px;
}
@font-face{
    font-family:gameboy;
    src: url('/styles/gameboy.ttf');
}
body, html{
    font-family:gameboy !important;
    margin:0;
    padding:0;
}
