.menuItem:hover {
  cursor: pointer;
}
.menuItem:hover:before {
    content:">";
    margin-left:-8px;
}

.topBar {
  border: 1px solid black;
  border-radius: 10px;
}

.bottomBar {
  border: 1px solid black;
  border-radius: 10px;
}
